@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');


/*
paleta de colores
#FAAB78
#FFDCA9
#E8F3D6 

tipografia

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    background-color: #FFDCA9;
}

.banner{
    background-color: #FAAB78;
}

.container{
display: flex;
justify-items: flex-end;
row-gap: 20px;}

.container p:hover{
    color:black;
    font-size: 20px;    }
.image_main{
    box-sizing: 100%;
    image-orientation: center;
    image-rendering: auto;
}
.footer{
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    text-align: end;
    
        
}

/***/

/* medida tablet. */
@media (min-with: 768px){
}
.image_main:{
    box-sizing: 30%;
}
/* medida mobile */
.footer{
    text-align: justify;
    text-size-adjust: 50%;
    background-color: bisque;
    display: grid;
    
    
}


.main{
    background-color: lightsalmon;
}


.header{

    text-align: justify;
    background-position: 100%;
    display: flex;
    justify-content: center;
    color: #FAAB78;
    
}



@media (min-with:320px){

}