@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');


/*
paleta de colores
#FAAB78
#FFDCA9
#E8F3D6 

tipografia

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    background-color: #FFDCA9;
}

.banner{
    background-color: #FAAB78;
}

.container{
  
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;


.div1 { grid-area: 2 / 3 / 3 / 4; }
.div2 { grid-area: 2 / 4 / 3 / 5; }
.div3 { grid-area: 2 / 5 / 3 / 6; }
.div4 { grid-area: 1 / 1 / 2 / 2; }
.div5 { grid-area: 1 / 2 / 2 / 3; }
.div6 { grid-area: 1 / 3 / 2 / 4; }
.div7 { grid-area: 5 / 1 / 6 / 2; }
.div8 { grid-area: 5 / 2 / 6 / 3; }
.div9 { grid-area: 5 / 3 / 6 / 4; }
.div10 { grid-area: 5 / 4 / 6 / 5; }
.div11 { grid-area: 5 / 5 / 6 / 6; }


}

.foot{
    flex-direction: row;
    align-items: flex-end;
    
}


@media (min-with: 768px){

}