@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: #4de6eb; }

.header {
  justify-content: space-between;
  display: flex;
  background-color: #4de6eb; }
  .header .nav {
    width: 50px; }
  .header .navBar {
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    padding-top: 20px;
    background-color: #4de6eb;
    justify-content: space-evenly;
    margin-right: 20px; }
  .header .li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px; }
  .header:hover {
    font-size: 20px;
    color: #1eff00; }

.main {
  background-color: #FFDCA9; }

.main {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row-reverse; }

.container {
  background-color: #FFDCA9; }

.image_main {
  background-color: #FFDCA9;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: center;
  background-position: center;
  image-rendering: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 25px; }

.foto_patio {
  flex-direction: column-reverse;
  background-size: 25%;
  image-orientation: flip; }

.imagen_pasillo {
  flex-direction: column-reverse;
  background-repeat: no-repeat; }

.footer {
  background-color: #d4c8b6;
  display: flex;
  justify-content: row;
  align-items: center;
  flex-direction: center;
  flex-direction: flex-end;
  align-items: flex-end;
  justify-items: space-around;
  margin-block-end: auto;
  padding: 30px; }

footer h2 {
  font-size: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color: #E8F3D6; }
  .main {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: min-content;
    background-color: #FFDCA9; }
  .image_main {
    position: sticky; }
  .footer {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: min-content;
    background-color: #FAAB78; } }

@media (max-widht: 320px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color: #E8F3D6; }
  .main {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: min-content;
    background-color: #FFDCA9; }
  .image_main {
    position: sticky; }
  .footer {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: min-content;
    background-color: #FAAB78; } }
