@mixin grid ($justify, $align, $col){
    display: grid;
    justify-content: $justify;
    align-items: $align;
    grid-template-columns: $col;
    }

@mixin flex ($justify, $align, $dir) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
    
    }