.footer{
    background-color: #d4c8b6;
    @include flex (row, center, center);
    

    flex-direction: flex-end;
    align-items: flex-end;
    justify-items: space-around;
    margin-block-end: auto;
    text-align: center;
    padding: 30px;
    
  }
  footer h2{

    font-size: $typo-secundario;
    text-align: center;
    text-transform: uppercase;
  }