.header{
    background-color: #E8F3D6;
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3rem 0.5rem;

     position: fixed;
    left: 0;
     top: 0;
     width: 100%;
}

.h1{

    letter-spacing: 5px;
    font-size: 1.3em;
}

.menu{
    display: none;
}

.header a{
    text-decoration: none;
    list-style: none;
    align-items: center;
    
}

.navBar{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
     }

     .navigation{
        list-style: none;
        display: inline-block;
        display: flex;
        justify-content: space-between;
            }

    
    .navigation li a {

        display: block;
        margin: 0;
        padding: 0.5rem 1rem;
        transition: all 0.4 linear;
        border-radius: 0,5px;
        &:hover{
            background-color: rgb(127, 161, 255);
        }
    }
   
