.header{
        background-color: #4de6eb;
    }
    .header{
        justify-content: space-between;
        display: flex;
        background-color: #4de6eb;

        .nav{
            width: 50px;
        }
        
        .navBar{
       
        display: flex;
        gap: 20px;
        height: 50px;
        align-items: center;
        padding-top: 20px;
        background-color: #4de6eb;
        justify-content: space-evenly;
        margin-right: 20px;

    }
    .li a {
        list-style: none;
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    &:hover{
        font-size: 20px;
        color: rgb(30, 255, 0);
    }
    }
