.header{
    background-color: #E8F3D6;
    @include flex (end,center, row-reverse);
    
        .navbar li {
            list-style: none;
        
        }
        .navbar li a {
            color: black;
            font-size: 25px;

        }
        &:hover{
            
            color: burlywood;
            font-size: 15px;}
    
    }
