
.main{
    background-color: #FFDCA9;
}
.main{
       @include flex (flex-end, stretch, row-reverse)
}

.image_main{
    background-color: #FFDCA9;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: center;
    background-position: center;
    image-rendering: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
   
    

}
.imagen_pasillo{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: inherit;
    height: inherit;
    transition: 1s;
    object-fit: contain;
}
.caras{

}