
.main{
    background-color: #FFDCA9;
    padding-top: 20rem;
}
.main{
       @include flex (flex-end, stretch, row-reverse)
}

.container{
    background-color: #FFDCA9;
    width: 100%;
    max-width: 100%;
}
.image_main{
    background-color: #FFDCA9;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: center;
    background-position: center;
    image-rendering: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
     

}






.contenedor-grid{
background-color: #FFDCA9;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: flex-end;
font-family: Arial, Helvetica, sans-serif;



.texto-patio{
  display: flex;
  justify-content: left;
  align-content: stretch;
}

.imagen_patio{
  display: flex;
  justify-content: right;
  align-content: stretch;

}
  .clientes{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #FFDCA9;
  }

.caras{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 170px;
  border-radius: 50%;
  font-size: 20px;
  font-family: $typo-secundario;
    
  
  .caras img{
    border-radius: 50%;
  }
  
  .pie_de_foto{

    text-align: end;
    margin: 10px;
    padding: 15px;
  }

}
.contact{

  font-family: $typo-principal;
  background-color:#FFDCA9 ;
  font-size: 20px;
  margin-top: 10px;
  align-content: flex-start;
  gap: 10px;
  position: left;
  
}
.formulario{
  background-color: #FFDCA9;
  margin-top: 10px;
}




.reel{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    background-color: #FFDCA9;
    grid-area: 
    "item 01 item 02 item 03"
    "item 04 item 05 item 06";
     }

     
     
     
     .item 01{

      grid-area: item 01;
      background-color: #FFDCA9;
     }

     
    }
    .item 02{
      grid-area: item 02;
      bacground-color: #FFDCA9;
    }


    
  
  
  
    
  
 

    
   
    
    
  
    














