@media (max-width:768px){
    
.header{
    background-color: #E8F3D6;
    display: grid;
    width: 100%;
    height: 10%;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "navigation navigation navigation navigation"
    "a a a a";
    
    .grid h1{
        grid-area: h1;
        justify-self: center;
    }
    
    .grid navigation{
        grid-area: navigation;
        justify-self: center;
    }
}
.grid a{
    grid-area: a;
    justify-self: center;
}
.header a{
    text-decoration: none;
    list-style: none;
    align-items: center;
    
}
}