@media (max-width:768px){
    
.header{
   
    display: flex;
    flex-direction: row;
    background: color #e8f3d6;
    position: relative;
    
    
    
    .menu{
        padding: 1em;
    }
}

.footer{
    background-color:#d4c8b6 ;
    
}

}
