@media (max-widht: 320px){
    .header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        background-color: #E8F3D6;
        margin: 100%;
        
    }
    
    .main{
        display: flex;
        justify-content: center;
        align-content: baseline;
        flex-direction: column;
        background-color:#FFDCA9 ;
    }
    .image_main{
        background-image: url(../../asset/img/imagen_index.jpg);
        background-size: cover;    
    }

    
    .fotos_reel{
        background-image: url(../../asset/img/page_03_04.jpg);
        background-image: url(../../asset/img/page_03_03.jpg);
        display: flex;
        flex-direction: column;
        background-size: contain;
        background-position: center;
    }

    .footer{
     
        display: flexbox;
        justify-content: baseline;
        align-content: center;
        background-color: #FAAB78;
        width: 100%;
     }
}