@media (max-widht: 320px){
    .header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        background-color: #E8F3D6;
        margin: 100%;
        padding: 100px;
        width: 100%;
        
        .h1{
            display: flex;
            align-content: first baseline;
            justify-content: flex-start;
            font-size: 10px;
        }
    }
    
    .main{
        display: flex;
        justify-content: center;
        align-content: baseline;
        flex-direction: column;
        background-color:#FFDCA9 ;
        width: 100%;
    }
    .image_main{
        background-image: url(../../asset/img/index_mobile.jpg);
        background-size: contain;  
        background-position: center;
        background-repeat: no-repeat;

    }

    
    .fotos_reel{
        background-image: url(../../asset/img/page_03_04.jpg);
        background-image: url(../../asset/img/page_03_03.jpg);
        display: flex;
        flex-direction: column;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .caras{

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        
        .pie_de_foto{
            display: grid;
            grid-template-columns: repeat(1fr 1fr 1fr);
            grid-template-areas: 
            ""
            ""
            "";
        }
    }

    .footer{
     
        display:flex;
        justify-content: baseline;
        align-content: center;
        flex-direction: row;
        background-color: #FAAB78;
        width: 100%;
     }
}