@media (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E8F3D6;
        margin: 10px 0;
        padding: 20px 10px;
        width: 100%;

        h1 {
            font-size: 1.2rem;
            text-align: center;
            margin: 0;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFDCA9;
        width: 100%;
        padding: 10px 0;
    }

    .image_main {
        background-image: url(../../asset/img/index_mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        height: 120px;
        margin: 0 auto 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fotos_reel {
        background-image: url(../../asset/img/page_03_04.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 120px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .caras {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .pie_de_foto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 0.8rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAAB78;
        width: 100%;
        padding: 10px 0;
        font-size: 0.9rem;
        text-align: center;
    }
}