.main{
    background-color: #FFDCA9;
    image-orientation: 100%;
    image-rendering: auto;
}

.image_main{
    image-orientation: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    

}